accelerate==1.2.1
click==8.1.8
datasets==3.1.0
diffusers==0.32.2
einops==0.8.0
huggingface-hub==0.26.2
ipython
jupyterlab
matplotlib
numpy==1.26.3
pandas==2.2.3
pillow==10.2.0
protobuf
pyarrow
requests
safetensors
tokenizers==0.20.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm
transformers==4.46.1
triton==3.1.0
typing_extensions
urllib3
wandb